* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* Remove extra left and right margins, due to padding */
.row_setup {
  margin-top: 5%;
}

.container_setup {

 padding: 15px;
 height: 120px;

}

#header_setup {
background-color: #008577;
color: white;
}

#btn_setup {
background-color: #343a40;
color: white;
}

#btn_setup:focus {
background-color: gray;
color: white;
}

/* Clear floats after the column_setups */
.row_setup:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive column_setups */
@media screen and (min-width: 1025px) {

.column_setup {
  float: left;
  width: 20%;
  margin-left: 10%;
  padding: 0 10px;
  
}

.container_setup {

 padding: 15px;
 height: 150px;

}


}

@media screen and (max-width: 1024px) {

 .column_setup {
  float: left;
  width: 25%;
  margin-left: 6%;
  padding: 0 10px;
  
}

.container_setup {

 padding: 12px;
 height: 130px;
 font-size:14px;

}

}

@media screen and (max-width: 801px) {

 .column_setup {
  float: left;
  width: 25%;
  margin-left: 5%;
  padding: 0 10px;
   
}

.container_setup {
 padding: 10px;
 font-size:12px;

}

}


@media screen and (max-width: 600px) {
  .column_setup {
    width: 60%;
    display: block;
    margin-left: 20%;
    margin-bottom: 20px;
  }

  .row_setup {
  margin-top: 0px;

 }

.container_setup {
 padding: 10px;
 font-size:15px;

}

}

@media screen and (max-width: 481px) {

 .column_setup {
  width: 270px;
  float: left;
  margin-left: 14%;
  padding: 0 10px;
}

  .row_setup {
  margin-top: 60px;

}

}

/* Style the counter cards */
