* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* Remove extra left and right margins, due to padding */
.row_scenario {
  margin-top: 5%;
}

#card_scenario {

border-radius: 5px 5px 0px 0px;

}

.container_scenario {

 padding: 15px;
 height: 120px;

}

#header_scenario {
background-color: #008577;
border-radius: 5px 5px 0px 0px;
color: white;
}

#btn_scenario {
background-color: #343a40;
border-radius: 0px 0px 5px 5px;
color: white;
}

#btn_scenario:focus {
background-color: gray;
color: white;
}

/* Clear floats after the column_scenarios */
.row_scenario:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive column_scenarios */
@media screen and (min-width: 1025px) {

.column_scenario {
  float: left;
  width: 20%;
  margin-left: 10%;
  padding: 0 10px;
  
}

.container_scenario {

 padding: 15px;
 height: 150px;

}


}

@media screen and (max-width: 1024px) {

 .column_scenario {
  float: left;
  width: 25%;
  margin-left: 6%;
  padding: 0 10px;
  
}

.container_scenario {

 padding: 12px;
 height: 130px;
 font-size:14px;

}

}

@media screen and (max-width: 801px) {

 .column_scenario {
  float: left;
  width: 25%;
  margin-left: 5%;
  padding: 0 10px;
   
}

.container_scenario {
 padding: 10px;
 font-size:12px;

}

}


@media screen and (max-width: 600px) {
  .column_scenario {
    width: 60%;
    display: block;
    margin-left: 20%;
    margin-bottom: 20px;
  }

  .row_scenario {
  margin-top: 0px;

 }

.container_scenario {
 padding: 10px;
 font-size:15px;

}

}

@media screen and (max-width: 481px) {

 .column_scenario {
  width: 270px;
  float: left;
  margin-left: 14%;
  padding: 0 10px;
}

  .row_scenario {
  margin-top: 60px;

}

}

/* Style the counter cards */
