* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (min-width: 1025px) {

.column {
  float: left;
  width: 20%;
  margin-left: 4%;
  padding: 0 10px;
  
}


}

@media screen and (max-width: 1024px) {

 .column {
  float: left;
  width: 20%;
  margin-left: 4%;
  padding: 0 10px;
}

}

@media screen and (max-width: 801px) {

 .column {
  float: left;
  width: 30%;
  margin-left: 14%;
  padding: 0 10px;
}

}


@media screen and (max-width: 600px) {
  .column {
    width: 60%;
    display: block;
    margin-left: 20%;
    margin-bottom: 20px;
  }

  .row {
  margin-top: -60px;

}

}

@media screen and (max-width: 481px) {

 .column {
  float: left;
  margin-left: 20%;
  padding: 0 10px;
}

  .row {
  margin-top: 0px;

}

}

/* Style the counter cards */
